/* src/styles/Footer.css */
.footer {
    padding: 2rem 0;
    text-align: center;
    color: #9ca3af; /* Tailwind's gray-400 */
    margin-top: auto;
    font-weight: 300;
    font-style: italic;
  }
  